name: Update Build

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'receptron'
    strategy:
      matrix:
        node-version: [24.x]
    steps:
    - uses: actions/checkout@v5
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'yarn'
    - name: Cache node_modules
      uses: actions/cache@v4
      with:
        path: node_modules
        key: node-modules-${{ matrix.node-version }}-${{ hashFiles('yarn.lock') }}
    - run: yarn install --frozen-lockfile
    - run: yarn run template
    - run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "<>"
    - name: Commit 
      run: |
        if ! git diff --quiet; then
          git commit -m "format or generated file" .
          git push origin main
        else
          echo "No change format"
        fi
